<div class="interior">
  <p id="notice"><%= notice %></p>

  <h3 class="page-title">
    <%= @announcement.title %>
  </h3>
  <div>
    <%= dat_markdown(@announcement.body) %>
  </div>

  <% if current_user %>
    <%= link_to 'Edit', edit_announcement_path(@announcement) %> |
    <%= link_to 'Back', announcements_path %>
  <% end %>
</div>