<div id="main" class="round_8">
  <div class="page_title round_6">
    <h1 class="replace"><%= @announcement.title %></h1>
    <em><small><%= @announcement.created_at.strftime('%B %d, %Y') %></small></em>
  </div>
  
  <div id="content" class="interior left">
    <div class="post">
      <%= dat_markdown(@announcement.body) %>
      <% unless @announcement.announcement_attachments.empty? %>
        <% @announcement.announcement_attachments.each do |att| %>
          <%= link_to "Download #{att[:file_file_name]}", att.file.url, { class: "red small tape" } %><br />
        <% end %>
      <% end %>
      <% if current_user %>
        <%= link_to 'Edit', edit_announcement_path(@announcement) %> |
        <%= link_to 'Back', announcements_path %>
      <% end %>
    </div>

  </div>
  <%= render "layouts/sidebar" %>
</div>
