<div id="main" class="round_8">
  <div class="page_title round_6">
    <h1>Events Calendar</h1>
  </div>

  <div id="calendar">
    <h2 id="month">
      <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%m-%Y") %>
      <%=h @date.strftime("%B %Y") %>
      <%= link_to ">", :month => (@date.end_of_month+1).strftime("%m-%Y") %>
    </h2>
    <%= calendar_for @occurrences, :year => @date.year, :month => @date.month do |calendar| %>
      <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')%>
      <% calendar.day(:day_method => :starts) do |date, occurrences| %>
        <%= date.day %><br />
        <ul>
          <% occurrences.each do |occurrence| %>
          <li><%= link_to occurrence.event.title, occurrence.event %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>

  <%= link_to 'New Event', new_event_path if current_user %>
</div>
