<div id="main" class="round_8">
  <div class="page_title round_6">
    <h1>Events Calendar</h1>
  </div>

  <div id="calendar">
    <h2 id="month">
      <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%m-%Y") %>
      <%=h @date.strftime("%B %Y") %>
      <%= link_to ">", :month => (@date.end_of_month+1).strftime("%m-%Y") %>
    </h2>
    <%= calendar_for @occurrences, :year => @date.year, :month => @date.month do |calendar| %>
      <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')%>
      <% calendar.day(:day_method => :starts) do |date, occurrences| %>
        <%= date.day %><br />
        <ul>
          <% occurrences.each do |occurrence| %>
            <% if current_user %>
              <li><%= link_to occurrence.event.title, occurrence.event %>
            <% else %>
              <li><%= occurrence.event.title %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
  <p><em class="calendar">This calendar is subject to change upon written notice from the Director.  If you find any errors in dates or days of the week, please contact the office to let us know and we will send out a correction notice.  Our elementary students exceed the state required 180 days of attendance due to their extended daily hours, therefore, no matter how many or how little snow days we declare, the last day of school will remain the same.</em></p>
  <%= link_to('New Event', new_event_path) if current_user %>
</div>
