<%= form_for(@page, {:html => { :class => "pages-form" }}) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, {:class => "span8"} %>
  </div>
  <div class="field">
    <%= f.nested_fields_for :images do |image| %>
      <div class="nested-image">
        <%= image.label :image %>
        <%= image.file_field :image %>
        <%= link_to "Remove", "#", { :class => 'remove' } %>
        <%= image.hidden_field :id %>
        <%= image.hidden_field :_destroy %>
      </div>
    <% end %>
    <%= link_to "Add image", "#", { :class => 'add' } %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
