      <% if image.object.new_record? %>
        <div class="item <%= cycle('even', 'odd') %>">
          <%= image.file_field :image %>
          <%= image.label :caption, "Caption (optional)", { class: "caption" } %>
          <%= image.text_field :caption %>
          <%= link_to "Remove image", "#", { :class => 'remove' } %>
          <%= image.hidden_field :id %>
          <%= image.hidden_field :_destroy %>
        </div>
      <% else %>
        <div class="item <%= cycle('even', 'odd') %>">
          <table>
            <tr>
              <% unless File.basename(image.object.image_file_name).split('.')[-1] == "pdf" %>
              <td>
                <%= image_tag image.object.image.url(:thumb) %>
                <%= link_to "Remove", "#", { :class => "remove" } %>
              </td>
              <td>
                <%= label "", "Click code to highlight" %>
                <code class="selectable">
                  [![](<%= image.object.image.url(:small)%>)](<%= image.object.image.url(:large) %> "<%= image.object.caption %>" )
                </code>
              </td>
              <% else %>
              <td>
                <%= File.basename(image.object.image_file_name) %>
                <%= link_to "Remove", "#", { :class => "remove" } %>
              </td>
              <td>
                <code class="selectable">
                <%= label "", "Click code to select" %>
                [<%= File.basename(image.object.image_file_name, ".pdf").gsub(/_/, ' ') %>](<%= image.object.image.url %>)
                </code>
              </td>
              <% end %>
            </tr>
          </table>
          <%= image.hidden_field :id %>
          <%= image.hidden_field :_destroy %>
        </div>
      <% end %>
