      <% if image.object.new_record? %>
        <div class="item <%= cycle('even', 'odd') %>">
          <%= image.file_field :image %>
          <%= image.label :caption, "Caption (optional)", { class: "caption" } %>
          <%= image.text_field :caption %>
          <%= link_to "Remove image", "#", { :class => 'remove' } %>
          <%= image.hidden_field :id %>
          <%= image.hidden_field :_destroy %>
        </div>
      <% else %>
        <div class="item <%= cycle('even', 'odd') %>">
          <%= image_tag image.object.image.url(:thumb) %>
          <%= link_to "Remove", "#i", { :class => "remove" } %>
          <%= image.hidden_field :id %>
          <%= image.hidden_field :_destroy %>
        </div>
      <% end %>
