<div class="page_title round_6">
  <h1>Contact Us!</h1>
</div>
<div id="content" class="left">
  <div id="mailer" class="col_312 alpha">
    <%= form_for @message, :url => contact_page_path do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :message %><br />
        <%= f.text_area :message %>
      </div>
      <div class="field">
        <p>Roses are red, violets are <%= f.text_field :spamtrap %><p>
      </div>
      <%= f.submit "Send it", { :id => "submit", :class => "fancy" } %>
    <% end %>
  </div>
  <div class="col_312 omega">
    <iframe width="312" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=211586303403599826074.0004c86c27ef58afd15ba&amp;ie=UTF8&amp;t=m&amp;ll=41.20294,-74.507217&amp;spn=0.038746,0.053387&amp;z=13&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=211586303403599826074.0004c86c27ef58afd15ba&amp;ie=UTF8&amp;t=m&amp;ll=41.20294,-74.507217&amp;spn=0.038746,0.053387&amp;z=13&amp;source=embed" style="color:#0000FF;text-align:left">58 Sand Hill Rd</a> in a larger map</small>
    
    <div class="address">
      <h5>Address</h5>
      <p itemscope itemtype="http://schema.org/LocalBusiness">
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                
        <span itemprop="streetAddress">58 Sand Hill Road</span><br/>
                
        <span itemprop="addressLocality">Vernon</span>, 
        <span itemprop="addressRegion">NJ</span> 
        <span itemprop="postalCode">07462</span></span><br/>
                P: 
        <span itemprop="telephone">(973) 823-0804</span>
      </p>
    </div>
  </div>
</div>
<%= render "layouts/sidebar" %>

