<!-- slide start -->
<div id="slide-container"  class="clearfix">
	<div id="slider-wrapper" class="left">
		<div id="slideshow">
		  <% @page.images.each do |i| %>
		    <%= image_tag i.image.url(:home_slide) %>
		  <% end %>
		</div>
	</div>
	<div id="quickmenu" class="left">
		<h2 class="replace">Our Programs</h2>
		<div class="viewport">
			<ul class="overview">
				<li><a href="/seedlings-program" class="menu-box round_4"> <span class="title">Seedlings</span><br/>
					Ages 18 months to 2 1/2 years<span class="arrow"></span> </a></li>
				<li><a href="/sprouts-program" class="menu-box round_4"> <span class="title">Sprouts</span><br/>
					Ages 3 to 6 years<span class="arrow"></span> </a></li>
				<li><a href="/elementary-program" class="menu-box round_4"> <span class="title">Elementary</span><br/>
					Ages 6 years and older<span class="arrow"></span> </a></li>
			</ul>
		</div>
<!--		<a class="buttons prev" href="#">Prev</a> <a class="buttons next" href="#">Next</a>--> </div>
</div>
<!-- slide end --> 
<!-- Main begin-->
<div id="main" class="round_8 clearfix">
	<div id="welcome" class="left">
		<h2 class="replace"><%= @page.title %></h2>
		<div class="intro">
			<%= dat_markdown(@page.body) %>
			<div>
			  <% if current_user %>
  		    <%= link_to "Edit", edit_page_path(@page) %>
  		  <% end %>
			</div>
		</div>
  </div>
	<div id="welcome-sidebar" class="left sidebar">
		<div class="sidebar-widget shadow-light">
			<div class="testimonials-container ">
				<h3 class="replace">What they say</h3>
				<p><a href="/testimonials">What a vision you have realized with your wonderful school!  I want you to know how grateful we are for Fields of Green and the wonderful teachers and staff and children that make it so special.</a><br/>
					<small><em>Nicole</em></small></p>
			</div>
		</div>
	</div>
	<hr class="pad clear-float" />
	<div class="col_445">
		<h2 class="replace">Announcements</h2>
		<div id="name">
		 <%= @announcement.body %>
		</div>
    <%= link_to "Read more...", @announcement, {:class => "small fancy"} %><br />
    <% if current_user %>
      <%= link_to "edit", edit_announcement_path(@announcement) %>
	  <% end %>
  </div>
  <div class="col_445">
    <iframe width="445" height="250" src="http://www.youtube.com/embed/GcgN0lEh5IA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<!-- Main end -->
