<!-- slide start -->
<div id="slide-container"  class="clearfix">
	<div id="slider-wrapper" class="left">
		<div id="slideshow">
		  <% @page.images.each do |i| %>
		    <%= image_tag i.image.url(:home_slide) %>
		  <% end %>
		</div>
		<div id="htmlcaption" class="nivo-html-caption"> Caption with <a href="#">a link</a>. </div>
	</div>
	<div id="quickmenu" class="left">
		<h2 class="replace">Our Programs</h2>
		<div class="viewport">
			<ul class="overview">
				<li><a href="/seedlings" class="menu-box round_4"> <span class="title">Seedlings</span><br/>
					Ages 18 months to 2 1/2 years<span class="arrow"></span> </a></li>
				<li><a href="/sprouts" class="menu-box round_4"> <span class="title">Sprouts</span><br/>
					Ages 3 to 6 years<span class="arrow"></span> </a></li>
				<li><a href="#" class="menu-box round_4"> <span class="title">Elementary</span><br/>
					Ages 6 years and older<span class="arrow"></span> </a></li>
				<li><a href="#" class="menu-box round_4"> <span class="title">Preschool</span><br/>
					Vivamus faucibus erat ut lectus<span class="arrow"></span> </a></li>
				<li><a href="#" class="menu-box round_4"> <span class="title">Pre Kindergarten</span><br/>
					Nunc scelerisque elit a lacus<span class="arrow"></span> </a></li>
				<li><a href="#" class="menu-box round_4"> <span class="title">Kindergarten</span><br/>
					Phasellus faucibus tempor<span class="arrow"></span> </a></li>
				<li><a href="#" class="menu-box round_4"> <span class="title">Summer Camp</span><br/>
					Suspendisse risus velit<span class="arrow"></span> </a></li>
			</ul>
		</div>
		<a class="buttons prev" href="#">Prev</a> <a class="buttons next" href="#">Next</a> </div>
</div>
<!-- slide end --> 
<!-- Main begin-->
<div id="main" class="round_8 clearfix">
	<div class="left col_645">
		<h2 class="replace"><%= @page.title %></h2>
		<div class="intro">
			<%= dat_markdown(@page.body) %>
			<div>
			  <% if current_user %>
  		    <%= link_to "Edit", edit_page_path(@page) %>
  		  <% end %>
			</div>
		</div>
  </div>
	<div class="left sidebar">
		<div class="sidebar-widget shadow-light">
			<div class="testimonials-container ">
				<h3 class="replace">What they say</h3>
				<p><a href="#">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac egestas.</a><br/>
					<small><em>John Doe</em></small></p>
			</div>
		</div>
	</div>
	<hr class="pad clear-float" />
	<div class="col_312">
		<h3 class="replace">Announcements</h3>
		<div id="name">
		 <%= @announcement.body %>
		</div>
    <%= link_to "Read more...", @announcement, {:class => "small fancy"} %><br />
    <% if current_user %>
      <%= link_to "edit", edit_announcement_path(@announcement) %>
	  <% end %>
  </div>
  <div class="col_577">
    <iframe width="577" height="325" src="http://www.youtube.com/embed/GcgN0lEh5IA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<!-- Main end -->
