<!-- slide start -->
<div id="slide-container"  class="clearfix">
	<div id="slider-wrapper" class="left">
		<div id="slideshow">
      <% @page.images.each do |i| %>
        <%= image_tag i.image.url(:home_slide) %>
      <% end %>
		</div>
	</div>
	<div id="quickmenu" class="left">
		<h2 class="replace">Our Programs</h2>
		<div class="viewport">
			<ul class="overview">
				<li><a href="/seedlings-program" class="menu-box round_4" title="Seedlings Program" alt="Seedlings Program"> <span class="title">Seedlings</span><br/>
					Ages 18 months to 2 1/2 years<span class="arrow"></span> </a></li>
				<li><a href="/sprouts-program" class="menu-box round_4" title="Sprouts Program" alt="Sprouts Program"> <span class="title">Sprouts</span><br/>
					Ages 3 to 6 years<span class="arrow"></span> </a></li>
				<li><a href="/elementary-program" class="menu-box round_4" title="Elementary Program" alt="Elementary Program"> <span class="title">Elementary</span><br/>
					Ages 6 years and older<span class="arrow"></span> </a></li>
			</ul>
		</div>
<!--		<a class="buttons prev" href="#">Prev</a> <a class="buttons next" href="#">Next</a>--> </div>
</div>
<!-- slide end --> 
<!-- Main begin-->
<div id="main" class="round_8 clearfix">
	<div id="welcome" class="left">
		<h2 class="replace"><%= @page.title %></h2>
		<div class="intro">
			<%= dat_markdown(@page.body) %>
			<div>
			  <% if current_user %>
  		    <%= link_to "Edit", edit_page_path(@page) %>
  		  <% end %>
			</div>
		</div>
  </div>
	<div id="welcome-sidebar" class="left sidebar">
		<div class="sidebar-widget shadow-light">
			<div class="testimonials-container ">
				<h3 class="replace">What they say</h3>
				<div><%= link_to dat_markdown(truncate @testimonial.body, :length => 150, :separator => ' '), testimonials_path %>
        </div>
			</div>
		</div>
    <iframe src="//rcm-na.amazon-adsystem.com/e/cm?t=wwwfieldsofgr-20&o=1&p=9&l=ur1&category=amazonhomepage&f=ifr" width="180" height="150" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
	</div>
	<hr class="pad clear-float" />
	<div class="col_445">
		<h2 class="replace">Announcements</h2>
		<div id="name">
		 <%= dat_markdown(truncate @announcement.body, :length => 400, :separator => ' ') %>
		</div>
    <%= link_to "Read more...", @announcement, {:class => "small yellow carnival"} %><br />
    <% if current_user %>
      <%= link_to "edit", edit_announcement_path(@announcement) %>
	  <% end %>
  </div>
  <div class="col_445">
    <h2 class="replace">Our school!</h2>
    <iframe src="//player.vimeo.com/video/99292497" width="445" height="250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/99292497">Fields of Green Montessori School (Happy)</a> from <a href="http://vimeo.com/user1138932">Aaron Chase</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>
</div>
<!-- Main end -->
