<h1 class="replace"><%= @page.title %></h1>
<div class="post">
  <%= image_tag @page.images.first.image.url(:medium) %>
  <%= dat_markdown(@page.body) %>
</div>
  <p id="notice"><%= notice %></p>
  <%= render "pages/admin" %>
