<%= form_for(@teacher, :html => { :multipart => true }) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio, { :class => "span9" } %>
  </div>
  <p><a href="http://www.johnnygrubb.com/posts/yet-another-markdown-cheatsheet">Formatting Help</a></p>
  <div class="field items">
    <%= f.fields_for :image do |p| %>
      <% if p.object.image %>
      <div class="item">
        <%= p.label :image, "Photo" %>
        <%= p.file_field :image %>
      </div> 
      <% else %>
      <div class="item">
        <%= image_tag p.object.image.url(:thumb) %>
        <%= link_to "Remove", "#", { :class => "remove" } %>
        <%= p.hidden_field :id %>
        <%= p.hidden_field :_destroy %>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
