<h1 class="blue round_6">Our Teachers</h1>

<div id ="teachers-index">
  <% @teachers.each do |teacher| %>
    <div class="teacher col_312 <%= cycle('alpha', 'omega')%>">
      <h3><%= link_to teacher.name, teacher %></h3>
      <% if teacher.image %>
      <div class="image">
        <%= image_tag teacher.image.image.url(:small) %>
      </div>
      <% end %>
      <div class="bio">
        <%= dat_markdown(truncate(teacher.bio, :length => 260, :separator => ' ', :omission => link_to('...more', teacher))) %>
      </div>
      <% if current_user %>
        <%= link_to 'Edit', edit_teacher_path(teacher) %> | <%= link_to 'Delete', teacher, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
</div>
<div>
  <% if current_user %>
    <%= link_to 'New Teacher', new_teacher_path %>
  <% end %>
</div>
