<p id="notice"><%= notice %></p>
<div id="teacher-detail">
  <h3>
    <%= @teacher.name %>
  </h3>
  
  <div class="image">
    <%= image_tag @teacher.image.image.url(:medium)%>
  </div>
  
  <div class="copy">
    <%= dat_markdown(@teacher.bio) %>
  </div>
  
  <% if current_user %>
    <%= link_to 'Edit', edit_teacher_path(@teacher) %> |
    <%= link_to 'Back', teachers_path %>
  <% end %>
</div>