<%= form_for @testimonial do |f| %>
  <div class="field">
    <%= f.label :title, "Name" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body, "Testimonial" %>
    <%= f.text_area :body %>
  </div>
  <p><a href="http://www.johnnygrubb.com/posts/yet-another-markdown-cheatsheet">Formatting Help</a></p>  <%= content_tag(:div, f.submit, :class => "actions") %>
<% end %>
