<div id="main" class="round_8">
  <div class="page_title round_6">
    <h1>Testimonials</h1>
  </div>
  <div id="content" class="left">
    <% @testimonials.each do |t| %>
      <div class="quote-post">
        <%= content_tag(:blockquote, dat_markdown(truncate(t.body, :length => 400))) %>
        <%= content_tag(:p, t.title, :class => "quote-author") %>
        <%= link_to "Read more", t, { :class => "green medium carnival" } %>
      <% if current_user %>
        <%= link_to "Edit", edit_testimonial_path(t) %> | 
        <%= link_to "Delete", t, :method => :destroy, :data => { :confirm => "Are you sure?" } %>
      <% end %>
      </div>
    <% end %>
  </div>
  <%= render "layouts/sidebar" %>
</div>
