<!-- Footer begin -->
<div id="footer" class="round_8 clearfix">
	<div class="column">
		<h4 class="replace">Announcements</h4>
		<ul class="bullet-list">
      <% @announcements.each do |a| %>
			  <li><%= link_to a.title, a %><br />
        - <em style="font-size:80%"><%= a.created_at.strftime('%D')%></em>
        </li>
		  <% end %>
    </ul>
	</div>
	<div class="column">
		<h4 class="replace">Events</h4>
		<ul class="bullet-list">
      <% @footer_occurrences.each do |o| %>
			<li><%= link_to o.event.title, "/events?month=#{o.starts.strftime('%m-%Y')}" %><span class="date"><%= o.starts.strftime('%B %e') %></li>
		  <% end %>
    </ul>
	</div>
	<div class="contact">
		<h4 class="replace">Contact</h4>
    <address itemscope itemtype="http://schema.org/LocalBusiness">
      <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            
      <span itemprop="streetAddress">58 Sand Hill Road</span><br/>
            
      <span itemprop="addressLocality">Vernon</span>, 
      <span itemprop="addressRegion">NJ</span> 
      <span itemprop="postalCode">07462</span></span><br/>
            P: 
      <span itemprop="telephone">(973) 823-0804</span><br/>
    </address>
		<a id="modalmap" href="" >Map It !</a> 
  </div>
	<div id="footer-bottom">
		<% if current_user %>
		  <%= link_to "New Announcement", new_announcement_path %> | 
		  <%= link_to "New Page", new_page_path %> | 
		  <%= link_to "New Teacher", new_teacher_path %> | 
		  <%= link_to "New Blog Post", new_blog_path %> | 
      <%= link_to "New Event", new_event_path %> | 
      <%= link_to "New Testimonial", new_testimonial_path %> | 
		  <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
		<% end %>
		<% unless current_user %>
		  <%= link_to "Log In", new_user_session_path %> | Site by <%= link_to "IBD", "http://www.ignoredbydinosaurs.com" %>
		<% end %>
	</div>
</div>
<!-- Footer end -->
