<div id="sidebar" class="left">
<% unless @links.first.layout == "standard" %>
  <ul id="submenu" class="shadow-light">
    <% @links.each do |page| %>
    <li>
      <%= link_to content_tag(:span, page.title), page %>
    </li>
    <% end %>
    <% if @links.first.layout == "prospective-students" %>
      <li><%= link_to content_tag(:span, "Our Teachers"), teachers_path %></li>
      <li><%= link_to content_tag(:span, "Testimonials"), "/testimonials" %></li>
    <% end %>
    <% if @links.first.layout == "current-students" %>
      <li><%= link_to content_tag(:span, "Calendar"), events_path %></li>
      <li><%= link_to content_tag(:span, "Online Payment"), payment_path %></li>
      <li><%= link_to content_tag(:span, "Announcements"), announcements_path %></li>
    <% end %>
  </ul>
<% end %>
</div>
