<!DOCTYPE html>
<!-- It's Paul Bunyon and Babe the blue ox!

O8DDDDZZ$ZDDD8O8ONDDN8O88ZZ8OO8DDDDDDD88D$7$Z7Z88O88D8D8ZZO$OZ::~O8Z::~,88$7$I7$
88OOO88D88DD8ZZZDNDD8DDDDOD8D8ODDZO$DOZOZZ8D888O8OO88O8888888OZ?,O87,7O87ZZZO$O$
888O$88DDDDD888ODDDDDDD8DDZDNNNDD8OOOO88DDDDDDOZ8DO8OZDOD8DD8D8OZ888ZOOO$ZOIO$OO
8Z8ZODDDD8ZOO888OODDNNDDNDDZDDD8O888D8O8DDDNDDDOO8DD8ZZ8O$$O88OO88OO8O$OZZ$Z$$$$
OZ7$888O88DD8DDDND88NDNNND88OD8888DDDDO$ZDDDDDDDDDD8888Z888ZZOZ8O8OZ888ZZ$$O$OO8
8DOO88ZD8DNNNDNDDDD8NNNDO88O8O8DDDNNDDD8DOZDDDDDNNDDDDD8O88D8OZOZO888888OOZ$Z$ZZ
888DDDDNNDNNDNNDDD8DND8O88ZO8OO8OOOZ$OZZ888DDDDDDDZOO8OZDO88OZ8DD88888O8Z7ZOOOO8
OO8DDNDNDNND88ND8DDD888DDOO8DD88O8DD8888ZZZDDNDDD8O8DODD8888D8DDO8ZO$O8888ZZOOOZ
D8D88DDDDNDDD88DDDDD8DDNDDDDDDDDNDDOD88DOD8Z88DD8888888OODDD8DO8OZ8O888888DZZZ8O
DDDD8DD8DDNDD8DDDD88DDNNNDDDDDDDN8ZDNNDDNDDDNDDD888DDD8OOOZO8OOO888Z88888OZZO8ZZ
8DDD888Z8DD88DNDN8DDDDNNNDNDZZ7Z8DDDDNNNNDDDDDNDDDNDDDDO8DDO888DDOZ888888O8O8OZO
ND88DD8Z888DZNDDODNNNDDDNN8:.O~:OZ88888O8DDDDDDDNNDNDDDD8NDDDDDDOOO$$ZODD8D888O8
D88NN8DDO8DD888DD88DDNDDDDD,,..,+:8OD8DO88ZO8DDDNDD8ODDDO$$ODDD888DODDD8DDDZOD8D
8D8N8DN88OZO88ZOD8DD8NDD8DN+$?$Z$ODND888D8N8OZZ8OZ$O8888O88888DD8DD8$ZOZ7$OZZDDD
O88D8DDDDD888D8Z7OOO8DDDDDDD8888.88DOD8ZD8O88$DZ8ZD8DD8D8D8888888OO8888D8888$OOO
$88ZZ8888DD$O8:~~ZO88ODDD8DZ,.,~~~===ODDDO8DO88D88DDD8DDDDD888D8O88DDD8OOOO88888
DD888O8ZZZ8OOO~,.,?888DO8IO8OO~==~=+=::O88DO8D88DDDDDDDDDDDDDDNDDDDD$O$$DDOZZO8D
OOZD8O88888888:,,,~D88DII78D88=+=+I$+~:,~O8ODNNDOZDO888$D88DDDDDDD$888Z8ZO8D88OD
DO8NDD8NDNND8D8=?7,8DD+77$DD8O=I+?ZOZII~,=DDDNN88DD88DDNDOO$Z8D7OO8I8OO8O8DD8D8D
ODODDDNDDNDNND8DDI,,,~$Z77$DD7I=??Z88Z?~::?DDDN8O8DDDDD8ND88$$$O888~888O88OOOZ$8
8D8D8D88ND888ZDD8$?~:7OD$$IZ8I??=?Z8DO$Z$Z~DDDD8.8DDDD8O8DD88DODOD8$:8O88DDD888O
DZD8O88NNDD8DNNDD87?=O8NZ77$7II++I$888+:..8DDDD8.8DDD888DDDDDDDDDDD,~8DDDD88OO88
88DNNDDN8DDNNNDD8DD8DDNN7?I7I====+Z8DD8:.,DDDDN8:~D8D88DDD8D88DD$Z,.8D88DD8DDD8D
DD8DDONDNNN88DNDDDNNNNNDII7??++~,,,?DDD..,DDDDDDD.,=88O,,......,..,?ZZZO88D8DD88
NND8OD8D8DDDDD8DDNNNNNND~====::=,:~=OD.~.,$DDDDDDD8:,.,,,..,,.=:..+8OO8OZ88O8O8D
DD8D8DD8DDD8888DDDNNNNN7~~=~=:,,...,ID.?,.Z888DNDDDD8O....,,..=,.....O8OZZDO8O88
NDNDDNDDND8DDD8DNDNNDDDI~~~=?~:,.,,:7D:+Z?:D888D88D8O8,,.....7:~,,.....Z88OZOOZO
DDDNDNNDNDDNN8DDDDNNNDNI~=+7Z~,...,+OD8$,,,8D888OO8DDD,,,,..,,,,,,.........88D8O
NNNNNNNNNNN8DDN8DDNNNND8+=~=7~,,,,,IDNNDI.DD8DDDDD8DD8?I7=.,.,,,....,....,.=D8Z8
NDNNNNNNNNNNDDDNDDNNNND8+===$:,,,.,=DDDDD.DD8D88DD8D88=88+.,,,,,,,,,,....,..,Z88
DNDNNNNNNNNNNNDNDDNNNDD8+===?:,,,.,$DDDDD:O8888DDNDD888888O,777I+~,.,..,.,...88D
DNNNDNDDNNNNNDNNDDNN8DDD~~~=~:,....$DDDDD?~88DDDO888888~=I77$?I?+~,....,,....=8Z
DNNDDDDDDDNNNNDNDDDNNDDO~~~==???~~,$DDDDDD.DDNDNDO88DD8=+?II7===+~,,...,,,,...OO
D88DDDDDDDDNNDNO.8DDDD8I?++7O8I?~8O8DDD88D,DNNNNDDDDND8==+?I?==+?~:,.,,,,,:::,Z8
888ZDD8DDDDNN:$8O,DDDNNZZZO8OO=+:ZDDDDDDNN~$DNDNNNDDDD~~==++?=~~==~,.,,::~:~:,:$
O$ZO8$77~$Z7++78ODNNNNDNNOZD887=~ZDDDNDNDDO,DDD8DDO8D8~~~:~+8?~~+==,..,+?II=~:,Z
DZOZOO$+O8Z8$$DDNNNNNDNDDIZO+Z++~ZNNNDDND88:888D8ZO8O~~~,~ZDDO+~+=~~...ZDDDII~:=
NOODOO7Z88888IDDNNDD8O8ND$I?+?I??88DDDOOOOO=OO88OO88$::.~8D8888I??7=:..7ODDDI7?+
NNO8DNOZDZD8ZZDDDDZO$ZDND+~:,,~OO8888888OZOZ?8D88888==:,D888DDDDD7?~:,.DDDDDD+~+
DN8DDD7ZD8O8:O8DO88Z$$777O88OOI+I88DD8DDO$8D=8O8DD88~~.:888888ODD7?~:,.8DNDDD+:=
Z7.7,$?OZZZ878I7I:OO$$7I+?+?++I~??OI88DZO$88~:I.DD8$~,.=7?:::I7OD=++:,.~DD?DD=,~
~O.::,:=?+??=+++=+=+=~~~++?==+Z77??$7I7Z7I$77~$,$Z$$$I~$$$:7,Z$OZ$7II~:+$I$,II?I
~=?====+~~?=7ZZI=+++$~::=+????Z$$??+???$$+?I?+:====I$77~~~~~,~~~~=$$I~:~~:~?::~?
..~:~~:+~==~$ZZ~~~~~?~:~~~~~~=O$Z===~==ZO~~~~~.~~~~?$77~:~~~:::::=$77~::=::I:::=
?II7~~~~~~~~~::~~~::::::::::::::::::~~:~~~~~~~====+IZ$$~~~~=~~~~~?ZZ$~~~=~~I~~~+
$ZZZ~::~~::::~:~::::~:::~:~~:::~~::::::::~::::::::::::::::::::::::::::::::::::::
D8D$~:~:::~:~~~:::::~::::::::::::::::::::::::~:~~~::~~::~::::::~::::::::::::::::
~~~~~~~~~~~~~~~:~:~:~~~~~~~~:::~:::::::::~::::::~~:~~~:~:::~~~:~:~~~~~~:~~~:~~::
~~~~:::~~:::~~~~~::~::~~~=~~~~~~:~::~:::::::~::~::~:::::::~:~~::~~::~::::::~::~:
~:~~:~::~:::::~~~:::::~~~~~~:~~~~~:~~::~::~~:~~:::::::~:::::::::::::::::::::::::
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~:~::::~:~:~::::::::::::::::::::~~:~~~~::::~
-->
<html>
<head>
  <title>Fog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div id="content-wrapper"> 
	
	<!-- Container begin -->
	<div id="container"> 
		<!-- Header begin-->
		<div id="header" class="clearfix">
			<div id="logo" > <a href="index.html"><%= image_tag(image_path 'fog-logo.png') %></a> </div>
			
			<!-- Navigation start -->
			<%= render 'layouts/nav' %>
			<!-- Navigation end --> 
		</div>
		<!-- Header end --> 
    
    <%= yield %>
    
		<%= render 'layouts/footer' %>
		
	</div>
	<!-- Container end --> 
</div>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
			effect: 'fade' 		
		});
    });
	// Quick Menu
	$('#quickmenu').tinycarousel({ 
		axis: 'y',
		display: 3, 
		duration: 500
	});
</script>  
</body>
</html>
