<!DOCTYPE html>
<html>
<head>
  <title>Fields of Green Montessori School</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <% if current_user %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" %>
    <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<div id="content-wrapper"> 
	
	<!-- Container begin -->
	<div id="container"> 
		<!-- Header begin-->
		<div id="header" class="clearfix">
			<div id="logo" ><%= link_to image_tag(image_path 'fog-logo.png'), root_path %> </div>
			
			<!-- Navigation start -->
			<%= render 'layouts/nav' %>
			<!-- Navigation end --> 
		</div>
		<!-- Header end --> 
    <%= yield %>
    
		<%= render 'layouts/footer' %>
		
	</div>
	<!-- Container end --> 
</div>
</body>
</html>
