<!DOCTYPE html>
<html>
<head>
  <title>Fog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div id="content-wrapper"> 
	
	<!-- Container begin -->
	<div id="container"> 
		<!-- Header begin-->
		<div id="header" class="clearfix">
			<div id="logo" ><%= link_to image_tag(image_path 'fog-logo.png'), root_path %> </div>
			
			<!-- Navigation start -->
			<%= render 'layouts/nav' %>
			<!-- Navigation end --> 
		</div>
		<!-- Header end --> 
      <%= yield %>
    
		<%= render 'layouts/footer' %>
		
	</div>
	<!-- Container end --> 
</div>
</body>
</html>
